/* logo font */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@700&display=swap');
/* font-family: 'Arima', cursive; */

/* text font */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@700&family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

:root {
    --white: #f8f7ff;
    --lavendar: #b8b8ff;
    --violet: #9381ff;
    --yellow: #ffeedd;
    --orange: #ffd8be;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
